@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    
</div>
<div class="text-right">
        <h1 class="display-4">Welcome</h1>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <p>@Html.Label(User.Identity.Name)</p>
            }
            else
            {
                <p></p>
            }
        }
    @Html.ActionLink("Стать водителем", "Register", "Driver")
    <br />
    @Html.ActionLink("Войти", "Login", "Driver")
    <br />
    @Html.ActionLink("Выйти", "Logout", "Driver")
    <br />
</div>

