@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <br />
    <br />
</div>
<div class="text-left">
    <h4 class="display-4">@Html.ActionLink("Сделать заказ", "MakeOrder", "Order")</h4>
</div>
<div class="text-right">
    @{
        if (ViewData["ErrorMessage"] != null)
        {
            Html.ValidationMessage("", ViewData["ErrorMessage"].ToString(), new { @class = "text-danger" });
        }
        else
        {
            <p></p>
        }
    }
    <h3>@Html.ActionLink("Стать водителем", "Register", "Driver")</h3>
    <br />
    <h3>
        @Html.ActionLink("Войти", "Login", "Driver")
    </h3>
    <br />
</div>

