
@{
    ViewData["Title"] = "WaitDriver";
}

<h1 class="text-center">Ожидайте водителя</h1>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.location.replace('/Order/Info/@ViewData["id_order"]/@ViewData["sec_code"]')
        //loadData();
        //setInterval(loadData, 1000 * 5);
    });

    function loadData() {
        $.ajax({
            url: 'InfoJson/@ViewData["id_order"]/@ViewData["sec_code"]',
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    alert(item)
                    window.location.replace('/Order/Info/@ViewData["id_order"]/@ViewData["sec_code"]')
                    //html += '<tr>';
                    //html += '<td>' + item.id_client + '</td>';
                    //html += '<td>' + item.rating + '</td>';
                    //var d = new Date(item.date_start_order);
                    //var datestring = "<b>"+("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + "</b> " +
                    //    ("0" + d.getDate()).slice(-2) + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" + d.getFullYear();
                    //html += '<td>' + datestring + '</td>';
                    //html += '<td>' + item.order_type_name + '</td>';
                    //html += '<td>' + item.start_point_lat + '</td>';
                    //html += '<td>' + item.start_point_long + '</td>';
                    //html += '<td>' + item.end_point_lat + '</td>';
                    //html += '<td>' + item.end_point_long + '</td>';
                    //html += '<td>' + '<input type="checkbox" class="custom-checkbox" disabled="disabled" ' + (item.child?'checked="checked"':'') + '/>' + '</td>';
                    //html += '<td>' + '<input type="checkbox" class="custom-checkbox" disabled="disabled" ' + (item.pets?'checked="checked"':'') + '/>' + '</td>';
                    //html += '<td>' + '<a href="/Order/Accept/' + item.order_id + '">Принять</a>' + '</td>';
                    //html += '</tr>';
                });
                //$('#tbody_orders').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>



