
@{
    ViewData["Title"] = "WaitDriver";
}

<h1 class="text-center">Ожидайте водителя</h1>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
        setInterval(loadData, 1000 * 5);
    });

    function loadData() {
        $.ajax({
            url: 'InfoJson/@ViewData["id_order"]/@ViewData["sec_code"]',
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    alert(item)
                    window.location.replace('/Order/Info/@ViewData["id_order"]/@ViewData["sec_code"]')
                });
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>



