@model TestExample.DB.Drivers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Drivers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="second_name" class="control-label"></label>
                <input asp-for="second_name" class="form-control" />
                <span asp-validation-for="second_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birth_date" class="control-label"></label>
                <input asp-for="birth_date" class="form-control" />
                <span asp-validation-for="birth_date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="sex" /> @Html.DisplayNameFor(model => model.sex)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="phone_number" class="control-label"></label>
                <input asp-for="phone_number" class="form-control" />
                <span asp-validation-for="phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass_number" class="control-label"></label>
                <input asp-for="pass_number" class="form-control" />
                <span asp-validation-for="pass_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rating_sum" class="control-label"></label>
                <input asp-for="rating_sum" class="form-control" />
                <span asp-validation-for="rating_sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rating_count" class="control-label"></label>
                <input asp-for="rating_count" class="form-control" />
                <span asp-validation-for="rating_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass_hash" class="control-label"></label>
                <input asp-for="pass_hash" class="form-control" />
                <span asp-validation-for="pass_hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
